body{
    background-color: rgb(188, 240, 227);
}

h1{
    color:rgb(47, 145, 120);
    background-color: rgb(236, 148, 207);
    text-align: center;
}

.barradenav {
    background-color: rgb(236, 148, 207);
    overflow: hidden;
}

.barradenav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.barradenav li{
    float: left;
}

.barradenav li a {
    display: block;
    color: rgb(47, 145, 120);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.barradenav li a:hover{
    background-color: rgb(188, 240, 227);

}

.content {
    padding: 20px;
}

h2{
    color: rgb(219, 33, 157);
    text-align: center;
    font-size: 24px;
}

p{
    color: rgb(2, 53, 36);
    text-align: center;
    font-size: 20px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-gallery img {
    width: 200px; /* Define a largura fixa para todas as imagens */
    height: 200px; /* Define a altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem preencha o espaço definido */
    border: 1px solid #91e2f7;
    padding: 5px;
    background-color: #f4f8f8;
}